/* colors: light: #ffffff normal:#f5f5dc dark: #bda96c  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 30px;
}
h2 {
  padding: 10px 0;
  font-size: 24px;
}
h3 {
  padding: 5px;
  font-size: 20px;
}
p {
  line-height: 30px;
}

/*========HEADRER========*/
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 50px;
  background-color: #bda96c;
  position: fixed;
  box-shadow: 0 0 20px 0 #00000070;
  z-index: 3;
}
.box1menu {
  align-self: center;
  padding-left: 20px;
}
.box1menu h1{
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #f5f5dc;
}
.box2menu {
  align-self: center;
  justify-self: end;
  padding-right: 30px;
}
.box2menu i {
  cursor: pointer;
  font-size: 24px;
  color: #f5f5dc;
}
.box2menu i:hover{
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}
.dropdown {
  position: fixed;
  top: 50px;
  z-index: 2;
  background-color: #bda96c;
  width: 100%;
  text-align: center;
  padding: 2% 0;
  display: none;
  height: 100%;
  animation-name: asas;
  animation-duration: 0.3s;
}
@keyframes asas {
  0%   {opacity: 0;}
  25%  {opacity: 0.25;}
  50%  {opacity: 0.5;}
  100% {opacity: 1;}
}
.dropdown ul {
  list-style-type: none;
}
.dropdown ul a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 55px;
}
#cross{
  display: none;
}
.mybutton{
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: bold;
  width: 100px;
  height: 40px;
  background-color: #bda96c;
  box-shadow: 0 10px 20px 0 #00000070;
  padding-top: 5px;
  border-radius: 5px;
}
.mybutton a{
  text-align: center;
  color: #f5f5dc;
  text-decoration: none;
}

/*=========MAIN=========*/
.main {
  display: grid;
  grid-template-columns: 50% 40% 10%;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  justify-content: center;
}
.about {
  display: inline-block;
  justify-self: center;
  background-color: #f5f5dc;
  width: 100%;
  padding: 5% 10%;
  grid-column: 1/4;
  line-height: 25px;
}
.about ul{
  text-align: left;
}
.about h3{
  text-align: left;
}
.aboutphoto {
  grid-column: 1/4;
  text-align: center;
  margin-top: 40px;
  background-color: #f5f5dc;
  padding: 50px 5% 50px 5%;
}
#first{
  padding-top: 50px;
  grid-column: 1/4;
  text-align: center;

}
.first_heading{
  background-color: #f5f5dc;
}
.first_photo{
  background: url('./img/main.jpg') no-repeat center;
  background-size: cover;
  min-height: 600px;
}
#contacts{
  background-color: #fff;
}
.packtutor{
  margin: 20px;
  padding: 20px;
  display: inline-block;
  width: 270px;
  height: auto;
  background-color: white;
  box-shadow: 0 10px 20px 0 #00000070;
  border-radius: 2%;
}
.packtutor ul {
  list-style-type: none;
  text-align: left;
}
.packtutor ul li{
  padding-top: 5px;
}
.ticksign i{
  padding-right: 10px;
  color: green;

}
.crosssign i{
  padding-right: 10px;
  color: red;
}
#checklist {
  background: url('./img/coffee.jpg') no-repeat center;
  background-size: cover;

}
#freewebinar{
  background: url('./img/computer.jpg') no-repeat top;
  background-size: cover;

}
#gidifclause{
  background: url('./img/books.jpg') no-repeat top;
  background-size: cover;

}
#gidvsevremena{
  background: url('./img/coffee.jpg') no-repeat top;
  background-size: cover;

}
.reviews{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  grid-auto-rows: minmax(300px, auto);
}
/*========Contacts=======*/
.contacts{
  display: relative;
  position: static;
  width: 100%;
  text-align: center;
  grid-column: 1/4;
  padding: 40px 0;

}
.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f5f5dc;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 8px 25px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 90px;
  font-size: 35px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.2);
  color: #f5f5dc;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}
#whatsapp{
  color: rgb(0,230,118);
}
#instagram{
  color: #f50000;
}
#whatsapp::before{
  background: rgb(0,230,118);
}
#instagram::before{
  background: linear-gradient(225deg,#b900b4 0%,#f50000 100%);
}
/*=====FOOTER ======= */
.comment1 {
  display: inline-block;
}
.comment2 {
  display: inline-block;
}
.comment3 {
  display: inline-block;
}


.footer {
  margin-bottom: 0;
  display: inline-block;
  width: 100%;
  background-color: #bda96c;
  min-height : 50px;
}
.createdby{
  margin: 10px;
  text-align: right;
}
.createdby a {
  color: black;
  text-decoration: none;
}
.createdby i{
  display: inline-block;
  font-size: 12px;
}
.createdby p{
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

/* =====optimization==== */
@media only screen and (min-width: 700px) {
  .main {
    text-align: center;
    justify-content: center;
  }
  #first {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .about {
  grid-column: auto;
  }

  .aboutphoto p{
    padding: 20px 20% 20px 20%;
    display: block;
  }

}
